<!DOCTYPE html>
<html>

<head>
    <title>Hava Finans</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/date.css">
    <link rel="stylesheet" href="/stylesheets/havaFinans.css">
</head>

<body>
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4"></div>
    </div>


    <!-- Tarih Saat 
    <div class="dateMain">
        <div class="mainHour" id="clock"></div>
        <div class="mainDay" id="day"></div>
        <div class="mainDate" id="date"></div>
    </div>
    <div class="botMain">

        <!-- HavaFinans Hava  
        <div class="leftMain">
            <div class="headerContent">
                <h1>Hava Durumu</h1>
            </div>
            <!-- Hava  
            <div class="havaMain">
                <div class="havaImg havaImgL">
                    <img id="gif" src="<%= daysWeather.fiveDay[0].gif %>" alt="">
                    <div class="havaContent">
                        <h1 id="name"><%= daysWeather.name %></h1>
                        <h3 id="temp"><%= daysWeather.fiveDay[0].temp %></h3>
                        <h3 id="weather"><%= daysWeather.fiveDay[0].weather %></h3>
                    </div>
                </div>
            </div>
        </div>
    -->

    <script src="/javascripts/jquery.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/hava.js"></script>
    <!--<script src="/javascripts/date.js"></script>-->
</body>

</html>